block wrapper 
  .wrapper
    main.main
      section.page
        .container 
          .page__inner 
            .page__content 
              .page__images
                .page__image.page__image--pumpkin  
                  img.page__img.animShowPumpkin(src='images/main-bg/pumpkin5.png' alt='pumpkin')
                .page__image.page__image--moon 
                  img.page__img(src='images/main-bg/moon4.png' alt='moon') 
              .page__bonus
                p.page__text.
                  Entre no espírito de Halloween com a <span> Betandyou!</span> 
                   
                p.page__text.
                  e receba um  
                h1.page__call.
                  bónus de 200%
                p.page__text.
                  quando fizer um depósito! 
              include btn-boxtop
           
    include ../layouts/footer
        //- .container.container--fluid
         //- include instruction
        //- .container
        //-  include btn-box
        //-  include socials--mobile
        
  include popup
